<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naufalhaq.modul2_fragment">

    <application
        android:allowBackup="true"
        android:icon="@drawable/film"
        android:label="FILM"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.Light">
        <!--<supports-screens android:smallScreens="false"/>-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity"></activity>
    </application>

</manifest>